In [1]:
import pandas as pd
df = pd.read_csv('Titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [3]:
df = df[['Survived', 'Age', 'Sex', 'Pclass']]
df = pd.get_dummies(df, columns=['Sex', 'Pclass'])
df.dropna(inplace=True)
df.head()

   Survived   Age  Sex_female  Sex_male  Pclass_1  Pclass_2  Pclass_3
0         0  22.0       False      True     False     False      True
1         1  38.0        True     False      True     False     False
2         1  26.0        True     False     False     False      True
3         1  35.0        True     False      True     False     False
4         0  35.0       False      True     False     False      True

In [4]:
from sklearn.model_selection import train_test_split

x = df.drop('Survived', axis=1)
y = df['Survived']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.7, stratify=y, random_state=0)

In [5]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(random_state=0)
model.fit(x_train, y_train)

LogisticRegression(random_state=0)

In [6]:
model.score(x_test, y_test)

0.792

In [7]:
from sklearn.model_selection import cross_val_score

cross_val_score(model, x, y, cv=3).mean()

0.7871148459383753

In [8]:
from sklearn.metrics import confusion_matrix

y_predicted = model.predict(x_test)
confusion_matrix(y_test, y_predicted)

array([[271,  26],
       [ 78, 125]], dtype=int64)

In [9]:
from sklearn.metrics import plot_confusion_matrix
%matplotlib inline

ImportError: cannot import name 'plot_confusion_matrix' from 'sklearn.metrics' (C:\Users\DELL\anaconda3\Lib\site-packages\sklearn\metrics\__init__.py)

In [10]:
from sklearn.metrics import plot_confusion_matrix
%matplotlib inline

ImportError: cannot import name 'plot_confusion_matrix' from 'sklearn.metrics' (C:\Users\DELL\anaconda3\Lib\site-packages\sklearn\metrics\__init__.py)

In [11]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\dell\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\dell\anaconda3\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in c:\users\dell\anaconda3\lib\site-packages (from scikit-learn) (1.11.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\dell\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\dell\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)

In [13]:
from sklearn.metrics import plot_confusion_matrix

ImportError: cannot import name 'plot_confusion_matrix' from 'sklearn.metrics' (C:\Users\DELL\anaconda3\Lib\site-packages\sklearn\metrics\__init__.py)

In [15]:
import numpy as np
import pandas as pd

titanic_data = pd.read_csv("titanic.csv")

titanic_data = titanic_data[['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']]
titanic_data['Sex'] = titanic_data['Sex'].map({'male': 0, 'female': 1})

titanic_data.fillna(titanic_data.mean(), inplace=True)

def sigmoid(z):
    return 1 / (1 + np.exp(-z))

def cost_function(X, y, theta):
    m = len(y)
    h = sigmoid(np.dot(X, theta))
    cost = (1 / m) * np.sum(-y * np.log(h) - (1 - y) * np.log(1 - h))
    return cost

def gradient_descent(X, y, theta, alpha, iterations):
    m = len(y)
    for _ in range(iterations):
        h = sigmoid(np.dot(X, theta))
        gradient = np.dot(X.T, (h - y)) / m
        theta -= alpha * gradient
    return theta

X = titanic_data.drop('Survived', axis=1)
y = titanic_data['Survived']

X = (X - X.mean()) / X.std()
X.insert(0, 'Intercept', 1)

X = X.values
y = y.values.reshape(-1, 1)

theta = np.zeros((X.shape[1], 1))

alpha = 0.01
iterations = 1000

theta = gradient_descent(X, y, theta, alpha, iterations)

def predict_survival(passenger):
    passenger = (passenger - titanic_data.drop('Survived', axis=1).mean()) / titanic_data.drop('Survived', axis=1).std()
    passenger = np.insert(passenger.values, 0, 1)
    prediction = sigmoid(np.dot(passenger, theta))
    return prediction

random_passenger = np.random.randn(6)
prediction = predict_survival(random_passenger)
print("Random passenger survival probability:", prediction)

Random passenger survival probability: [0.87951879]